@import url('reset.css');
@import url('https://use.typekit.net/qpj2ebe.css');

:root {
    font-size: 62,5%;
    --principal: #ff5c35;
    --black: #1e1e1e;
    --font-title-anisette: 'anisette-std', sans-serif; /* font-weight:600 or 700; font-style:normal */
    --font-text-adelle: 'adelle-mono-flex', monospace; /* font-weight:300 or 400; font-style:normal */
}

h1 {
    font-family: var(--font-title-bold);
    font-weight: 600;
    font-style: normal;
}

body {
    background-color: var(--principal);
}

.main-header {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 40px 30px;
}

.header img {

    width: 60vw;

}

.menu div {
    width: 35px;
    height: 3px;
    background-color: var(--black);
    margin: 4px 0;

}

.menu {
    align-self: flex-end;
    margin-right: 30px;
}

.menu-translate{
    font-family: var(--font-title-anisette);
    font-weight: 600;
    font-style: normal;
    width: 22px;
    text-align: left;
    font-size: 1.2rem;
}

.menu-translate div:nth-child(even) {
    width: 22px;
    height: 2px;
    background-color: var(--black);

}
